{{!-- <div class="flip flip-vertical">
  <div class="front">
    <img src="{{image}}" alt="Newt_Scamander" />
  </div>
  <div class="back">
    <h1>{{name}}</h1>
    <h2>{{species}}</h2>
    <p>{{description}}</p>
    <a href="#" class="details">Details</a>
  </div>
</div> --}}